.git
.venv
node_modules
**/node_modules
application/frontend/node_modules
__pycache__
.pytest_cache
sky_logs/*
!sky_logs/__init__.py
!sky_logs/logger.py
data/history
application/frontend/dist
docs
test
.uv-cache
